.breadcrumbs {
  margin: 40px 0 25px;
}

.breadcrumbs__list {
  display: inline-block;
  list-style: none;
  font-size: 14px;
}

.breadcrumbs__item {
  display: inline;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' x='0' y='0' viewBox='0 0 6.35 6.35'%3E%3Cg%3E%3Cpath d='M2.258 1.315a.265.265 0 0 0-.174.469L3.703 3.17l-1.62 1.386a.265.265 0 1 0 .345.4L4.28 3.373a.265.265 0 0 0 0-.403L2.428 1.382a.265.265 0 0 0-.17-.067z' fill='%23000000' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs__item a {
  color: var(--main-color-font);
}

.breadcrumbs__item a:hover {
  color: var(--accent-color);
}

.questions-form {
  text-align: center;
}

.questions-form__wrapper {
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background-image: url(../img/question-b-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 0;
}

.questions-form__title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}

.questions-form__text {
  font-size: 16px;
  margin-bottom: 10px;
}

.questions-form__phone {
  position: relative;
  display: inline-block;
  font-size: 23px;
  line-height: 1;
  white-space: nowrap;
  color: var(--accent-color);
  margin: 0 30px 10px 0;
}

.questions-form__phone:last-child {
  margin-right: 0;
}

.questions-form__phone::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -16px;
  width: 2px;
  background: var(--accent-color);
}

.questions-form__phone:last-child::after {
  display: none;
}

.questions-form__inputs {
  max-width: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px 0;
  margin-bottom: 10px;
}

.questions-form__input {
  width: 49%;
}

.questions-form__captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.questions-form__btn {
  margin: 10px auto;
}

.questions-form__check {
  font-size: 12px;
  color: var(--grey-color-font);
}

.video-block {
  position: relative;
  height: 0;
  padding-bottom: 56%;
  overflow: hidden;
}

.video-block__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-block__wrap iframe {
  width: 100%;
  height: 100%;
}

.light-border-block {
  border: 1px solid var(--light-grey);
  padding: 20px;
}

.completed-block__item {
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.completed-block__item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.completed-block__img {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 65%;
}

.completed-block__img picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.completed-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.completed-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 25px;
}

.completed-block__desc {
  color: var(--grey);
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.completed-block__title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}

.completed-block__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
  gap: 10px 20px;
}

.completed-block__feature-item svg {
  width: 18px;
  height: 18px;
  color: var(--light-grey);
  margin-right: 5px;
  vertical-align: text-top;
}

.completed-block__bottom {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.completed-block__link {
  display: block;
  width: 48%;
  border: 2px solid var(--accent-color);
  padding: 9px 5px;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}

.completed-block__link.main-btn:hover {
  background-color: var(--white);
  color: var(--accent-color);
}

.completed-block__link.border-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--white);
  background-color: var(--accent-color);
}

.page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 0;
  margin-bottom: 20px;
}

.page__title h1 {
  margin: 0;
}

.stages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
  gap: 15px 0;
}

.stages-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 19%;
}

.stages-list__title {
  margin-top: 30px;
  font-weight: 600;
}

.stages-list__icon {
  background-image: url(../img/icons/stage-work-icon.png);
  background-repeat: no-repeat;
  margin: auto;
}

.stages-list__icon--1 {
  background-position: 0px 0px;
  width: 60px;
  height: 68px;
}

.stages-list__icon--2 {
  background-position: -60px 0px;
  width: 80px;
  height: 45px;
}

.stages-list__icon--3 {
  background-position: -141px 0px;
  width: 70px;
  height: 51px;
  position: relative;
}

.stages-list__icon--3::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--accent-color);
  width: 115px;
  height: 115px;
  border-radius: 50%;
}

.stages-list__icon--4 {
  background-position: -209px 0px;
  width: 60px;
  height: 68px;
}

.stages-list__icon--5 {
  background-position: -269px 0px;
  width: 64px;
  height: 60px;
}

.stock-block {
  margin: 30px 0;
}

.stock-block__item {
  margin-bottom: 15px;
}

.stock-block__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--light-grey-2);
}

.stock-block__picture {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 170px;
  height: 148px;
}

.stock-block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stock-block__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10px;
}

.stock-block__title {
  font-size: 16px;
  color: var(--grey-color-font);
  padding-left: 10px;
  margin-top: 8px;
}

.stock-block__date {
  font-size: 13px;
  padding-left: 10px;
  margin-bottom: 5px;
  color: #066eb0;
}

.stock-block__desc {
  color: var(--grey-color-font);
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.stock-block__count {
  background-color: var(--light-grey);
  margin: 10px 0;
  padding-left: 10px;
}

.stock-block__text {
  padding-top: 15px;
  font-size: 14px;
  color: var(--grey-color-font);
}

.infographic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infographic-block__item {
  border: 1px solid var(--light-grey);
  border-radius: 6px;
  padding: 10px;
  gap: 15px 5px;
  text-align: center;
  width: 24%;
}

.infographic-block__title {
  font-size: 14px;
  font-weight: bold;
}

.construct-block__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.construct-block__btn {
  position: relative;
  background-color: var(--white);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 30px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  border-top: 1px solid var(--light-grey);
}

.construct-block__btn:first-child {
  border-top-left-radius: 5px;
  border-left: 1px solid var(--light-grey);
}

.construct-block__btn:hover,
.construct-block__btn.active {
  color: var(--white);
  background-color: var(--accent-color);
}

.construct-block__btn:hover::after,
.construct-block__btn.active::after {
  opacity: 0;
}

.construct-block__wrap {
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-top: 2px solid var(--accent-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.simple-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 0;
}

.simple-gallery__item {
  width: 23%;
}

.simple-gallery__link {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.simple-gallery__link picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.simple-gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hr {
  height: 1px;
  background: var(--light-grey);
  margin: 20px 0;
}

.marker-list {
  padding-left: 10px;
}

.marker-list:not(:first-child) {
  margin-top: 20px;
}

.marker-list:not(:last-child) {
  margin-bottom: 20px;
}

.marker-list li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 5px;
  line-height: 1.4;
}

.marker-list li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.check-list {
  padding-left: 10px;
}

.check-list:not(:first-child) {
  margin-top: 20px;
}

.check-list:not(:last-child) {
  margin-bottom: 20px;
}

.check-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  line-height: 1.4;
}

.check-list li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' x='0' y='0' viewBox='0 0 417.813 417'%3E%3Cg%3E%3Cpath d='M159.988 318.582c-3.988 4.012-9.43 6.25-15.082 6.25s-11.094-2.238-15.082-6.25L9.375 198.113c-12.5-12.5-12.5-32.77 0-45.246l15.082-15.086c12.504-12.5 32.75-12.5 45.25 0l75.2 75.203L348.104 9.781c12.504-12.5 32.77-12.5 45.25 0l15.082 15.086c12.5 12.5 12.5 32.766 0 45.246zm0 0' fill='%23b61f11'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.square-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}

.square-list li::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #97B42E;
}

.trapeze-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  font-size: 18px;
  color: var(--white);
  text-transform: uppercase;
  padding: 0 20px;
  position: relative;
  background-color: var(--accent-color);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.trapeze-btn::after,
.trapeze-btn::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: 20px solid transparent;
  border-top-width: 0;
  border-bottom-width: 35px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.trapeze-btn::before {
  left: 0;
  border-right-color: var(--accent-color);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.trapeze-btn::after {
  right: 0;
  border-left-color: var(--accent-color);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.trapeze-btn:hover {
  background-color: var(--accent-color-hover);
}

.trapeze-btn:hover::before {
  border-right-color: var(--accent-color-hover);
}

.trapeze-btn:hover::after {
  border-left-color: var(--accent-color-hover);
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.text-grey {
  color: var(--grey-color-font);
}

.text-italic {
  font-style: italic;
}

.built-projects__item {
  position: relative;
  border-radius: 5px;
  border: 1px solid var(--light-grey);
  background-color: var(--white);
  padding: 10px 10px 15px;
  text-align: center;
  height: 100%;
}

.built-projects__picture {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  margin-bottom: 30px;
}

.built-projects__picture picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.built-projects__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.built-projects__title {
  font-size: 13px;
  color: var(--accent-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.built-projects__model {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.built-projects__area {
  color: var(--special-color);
  font-size: 23px;
  margin-bottom: 5px;
  font-weight: 500;
}

.built-projects__price {
  font-weight: 500;
  font-size: 22px;
}

.built-projects__btn-modal {
  display: block;
  font-size: 16px;
  color: var(--accent-color);
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 10px;
}

.built-projects__link {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey);
  text-decoration: underline;
}

.border-block {
  border: 3px solid var(--accent-color);
  padding: 20px;
  margin: 20px 0;
}

.small-title {
  font-weight: 900;
  font-size: 16px;
}

.small-text {
  font-size: 14px;
  line-height: 1.3;
}

.strong {
  font-weight: 700;
}

.not-style-list {
  margin: 20px 0;
}

.not-style-list li {
  margin-bottom: 5px;
}

@media (min-width: 767px) {
  .construct-block__btn:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: var(--light-grey);
    top: 50%;
    left: 99%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
  }
}

@media (min-width: 768px) {
  .construct-block__btn:last-child {
    border-top-right-radius: 5px;
    border-right: 1px solid var(--light-grey);
  }
}

@media (min-width: 992px) {
  .stages-list__item:not(:last-child):after {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 100px;
    height: 70px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='100' height='100' x='0' y='0' viewBox='0 0 267 267' %3E%3Cg%3E%3Cpath d='M191.667 129.167v-14.584l25 18.75-25 18.75V137.5H50v-8.333z' fill='%23b61f11' %3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 991px) {
  .page__title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .stages-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px 0;
  }

  .stages-list__item {
    width: 30%;
  }

  .infographic-block__item {
    width: 49%;
  }

  .simple-gallery__item {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .stages-list__item {
    width: 49%;
  }

  .stages-list__icon--3::before {
    width: 90px;
    height: 90px;
  }

  .construct-block__btn {
    border-right: 1px solid var(--light-grey);
    border-left: 1px solid var(--light-grey);
  }

  .construct-block__btn:first-child {
    border-top-right-radius: 5px;
  }

  .construct-block__btn {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .questions-form__wrapper {
    margin: 30px 0;
  }

  .questions-form__title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .questions-form__phone::after {
    display: none;
  }

  .questions-form__phone {
    font-size: 20px;
    display: block;
    margin-right: 0;
  }

  .questions-form__input {
    width: 100%;
  }

  .completed-block__content {
    padding: 15px;
  }

  .stages-list__title {
    min-height: 45px;
    margin-top: 15px;
  }

  .construct-block__img {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .stock-block__left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .simple-gallery__item {
    width: 100%;
  }
}