.footer {
  background-color: var(--light-grey-2);
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.footer__logo-col {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.footer__logo {
  display: block;
  max-width: 100px;
}

.footer__info {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-color-font);
  text-decoration: underline;
  margin-bottom: 5px;
}

.footer__info:last-child {
  margin-bottom: 0;
}

.footer__info-icon {
  position: absolute;
  top: 3px;
  left: 0;
  color: var(--accent-color);
}

.footer__phone {
  display: block;
  font-family: "OpenSans", serif;
  color: var(--grey-color-font);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  white-space: nowrap;
}

.footer__phone-icon {
  color: var(--accent-color);
  vertical-align: middle;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.footer__social-link {
  display: block;
}

.footer__links-col {
  text-align: right;
}

.footer__gtext {
  font-family: "OpenSans", serif;
  color: var(--grey-color-font);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer__gtext a {
  color: var(--grey-color-font);
}

@media (max-width: 1199px) {
  .footer__info-col {
    max-width: 400px;
  }
}

@media (max-width: 991px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__links-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .footer__info-col {
    max-width: none;
  }

  .footer__phone-col {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 575px) {
  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}